extends layout

block content

  form#startChallenge(name="startChallenge")
    .row.form-group
      .col-sm-6
        label(for='challenger') Challenger
        input#challenger.form-control(placeholder='You', required)
      .col-sm-6
        label(for='opponent') Opponent
        input#opponent.form-control(placeholder='Your enemy', required)
    .form-group
      button.btn.btn-primary(type='submit') Start game

  #gameOn.hidden
    h2 Let's play

    p
      .game-id Share this url to your opponent
        input#gameId.form-control(disabled)
