// http://www.colourlovers.com/palette/1/metro

$blue = #00B4FF;

body
  color #515151
  background #eee
  margin-top 20px

h1
  text-align center
  padding 0 0 20px
  color $blue


.btn-primary
  background $blue
  border-color darken($blue, 10%)


.container
  background #fff
  border 1px solid #ddd
  border-radius 3px
