body {
  color: #515151;
  background: #eee;
  margin-top: 20px;
}
h1 {
  text-align: center;
  padding: 0 0 20px;
  color: #00b4ff;
}
img {
  max-width: 100%;
}
.btn-primary {
  background: #00b4ff;
  border-color: #00a2e6;
}
.container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}
